* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Merriweather', serif;
    background-color: #ebf2ff;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
}
.navbar__brand {
    width: 100px;
}
.navbar__logo {
    width: 100%;
    border-radius: 6px;
}
.button__primary {
    background-image: linear-gradient(to right, #ff512f 0%, #dd2476 51%, #ff512f 100%);
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 6px;
    font-weight: 600;
}
.button__primary:hover {
    border: 2px solid #ff6767;
    cursor: pointer;
}
.container {
    padding: 20px;
}
.hero__image__container {
    width: 500px;
}
.hero__image {
    width: 65%;
}
.hero__text {
    font-weight: 800px;
    font-size: 30px;
    margin: 20px 0px;
    color: #1d3557;
}
.video {
    width: 500px;
    height: 300px;
}
.chef__video {
    width: 100%;
    height: 100%;
}
@media (min-width:768px) {
    .navbar {
        justify-content: space-between;
        padding: 10px 30px;
    }
}
@media (min-width:1024px) {
    .navbar__brand {
        width: 150px;
    }
    .button__primary {
        padding: 20px;
        font-size: 20px;
    }
}